/* Vars */
:root {
	--bg-color: rgb(237, 239, 245);
}

/* General */
body { background-color: var(--bg-color); font-family: Arial, Helvetica, sans-serif; }

.wrapper { display: flex; }

/* Soundboard */
.soundboard { max-width: 960px; margin: auto; }
.soundboard__header { display:block; text-align: center; color: #333; }
.soundboard__elements {  }
.soundboard__button {  }


.button-container { display: flex; }
.button { display: block; padding: 2em; border: none; margin-right: 50px; font-size: 1rem; }
.neu.button {
	transition: all 0.2s;
	outline:none;
	border-radius: 6px;
	background: linear-gradient(to bottom right, var(--bg-color), #fff);
	box-shadow: 9px 9px 16px rgb(163,177,198,0.3), -9px -9px 16px rgba(255,255,255, 0.6);
}
.neu.button:hover {
	cursor: pointer;
}
.neu.button:active {
	background: linear-gradient(to bottom right, var(--bg-color), rgba(255, 255, 255,0.7));
	box-shadow: 5px 5px 16px rgb(163,177,198,0.1), -5px -5px 16px rgba(255,255,255, 0.6);
}

